/*
Custom

*/

canvas{
  position: fixed;
    bottom: 0;
    right: 0;
  z-index: -100;

}

* {
  border-radius: 0px!important;
  box-shadow:none!important;
  text-shadow:none!important;
}
html, div, span {
  background:transparent!important;
}
nav {
  font-size:16px;
}

header {
  
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.navbar-header {
  background-color:#0093DA!important;
 
}

.navbar-brand h1 {
  margin:auto;
}

.content {
  padding-top:0px;
}
.navbar-default {
    background:transparent;
    border:none;
    vertical-align: top;
    margin:0;

    height:auto;
}

.navbar-nav {
  background: transparent!important;
    border-top: 0px solid black;
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-collapse {
  text-align: center;
  padding:0;

}

.navbar-nav > li {
  
 
  margin: 0px;
}

.navbar-default > .container-fluid {
  padding-left:30px;
  padding-right:30px;

}

.navbar-brand {
  color:white!important;
  font-size:16px;
  min-height:75px;

  margin:0!important;
  font-size:36px!important;
  border-bottom: 4px solid #44C2FF;
}

.navbar-nav > li > a {
  padding:25px;
  border-bottom: 4px solid #0093DA;

}

.navbar-nav > li > a:hover {
  border-bottom: 4px solid #44C2FF;
}

.headline-container {

}
.headline {
}
h2 {

  display:inline-block;
  padding-bottom: 15px;
  border-bottom: 4px solid black;
}

.page-panel{
  border-radius:0px;

  background: rgb(255,255,255)!important; /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(255,255,255,0.7)!important;

  border-top:0px;

}
.page-content .panel {
  margin-bottom:0px;
  padding:10px;
}
.page-content{
  
  padding:0px;
  display:inline-block;
}

.about-text-content {
  font-size:16px;
  border: 2px solid #0093DA!important;
  min-height:230px;
}

.text-content{
  padding:10px;
  margin-bottom:0px;
  color:black;
}

.text-decoration{
  text-align: center;
  background: #0093DA!important;
  color:white;
  padding:10px;
  border:0;
  margin-bottom:0px;
}

.event-card {
  border:1px solid  #0093DA;
  margin-bottom:40px!important;
}

.member-card {
  border:1px solid  #0093DA;
}

#navbar-menu {
  overflow:hidden;
}

.img-thumbnail {
  border:none;
  margin:none;
  padding:none;
}

.grid-row {
  display: table;
  height:350px;
}

.grid-cell {
  display: table-cell;
  height:350px;
  margin-bottom: 10px;
}

.grid-cell-partners {
  height:300px;
}

.grid-cell .panel {
  padding-bottom: 5px;
  height: 100%;
}

.grid-cell img {
  min-height:220px;
  max-height: 220px;
}
