{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
MAI IT ABOUT
{% endblock %}
{% block content %}

<div class="panel page-panel">

	<div class="panel-body">
	<div class="panel-heading headline-container">
		<h2 class="headline">О клубе</h2>
	</div>
	<p class="well text-content">
	Мы ИТКЛУБ
	<br/>
	Мы крутые
	<br/>
	specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</p>
	<p class="well text-content">
	Мы очень крутые
	<br/>
	specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</p>
	</div>
</div>

{% endblock %}