{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
Лямбда: о нас
{% endblock %}
{% load static %}
{% block description %}
Мы студенческий практикум программистов при ФРЭЛА МАИ. Мы проводим читаем лекции, проводим выступления приглашенных специалистов, организуем хакатоны, делаем проекты.
{% endblock %}
{% block content %}
<canvas></canvas>
<script src="{% static 'js/animation.js' %}"></script>
<div class="panel page-panel">

	<div class="panel-body">
		<div class="panel-heading headline-container">
			<h2 class="headline">О нас</h2>
		</div>
		<div class="page-content">
		<div class="panel col-md-3 pull-left">
			<div class=" well text-content about-text-content">
				<h4>Кто мы?</h4>
				<p>
					Мы студенческий практикум программистов при ФРЭЛА МАИ.
				</p>
			</div>
		</div>
		<div class="panel col-md-6 pull-left">
			<div  class="well text-content about-text-content">
				<h4>Кто может участвовать?</h4>
				<p>
					Кто угодно. Сообщество бесплатное, добровольное и ориентироанное на студентов.<br/>Начинающие свой путь в IT найдут у нас возможность быстро учиться, а опытные разработчики - единомышленников и проекты.
				</p>
			</div>
		</div>
		<div class="panel col-md-3 col-xs-12 pull-right">
			<div style="margin:0;" class="well text-content about-text-content">
				<h4>Как нас найти?</h4>
				<p>
					<!--
					Встречи клуба проводятся
					<div style="border:3px solid #0093DA;"class='well well-sm'>

						<strong>МАИ, 5 корпус, аудитории 500какая-то</strong>.
						<br/>

							Вторник, Четверг

						 <br/> 17:00 - 19:00

					</div>
					-->
					Место встреч уточняется.<br/> До тех пор по всем вопросам обращайтесь на почту: <strong>euphetar@gmail.com</strong>.
				</p>
			</div>
		</div>

		<div class="panel col-md-12 pull-left">
			<div style="min-height:150px;" class="well text-content about-text-content">
				<h4>Что мы делаем?</h4>
				<p>	
					<ul>
						<li>Проводим еженедельные встречи состоящие из лекции и работы над проектами.</li>
						<li>Создаем проекты в малых командах.</li>
						<li>Проводим лекции приглашенных специалистов из ведущих IT компаний.</li>
						<li>Совместно посещаем тематические конференции и митапы.</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="panel col-md-12 pull-left">
			<div style="min-height:180px;" class="well text-content about-text-content">
				<p>	
					"Лямбда" это сообщество людей, занимающихся постоянным самообучением, и основная его цель - обмен знаниями и опытом. <br/>
					"Лямбда" это не бесплатные курсы, где вас с нуля научат быть программистом.
					Если вы хотите учиться программированию  - <strong>мы не научим вас</strong>. <br/>
					Но мы <strong>поможем вам научиться</strong>: скажем где, как и что изучать, поможем с возникшими проблемами.<br/>
					Мы дадим вам точку приложения ваших знаний: реальную задачу.<br/>
					Мы дадим вам возможность поработать в команде разработчиков, научиться жизненноважным навыкам постановки задачи и коммуникации в команде.<br/>
					Мы покажем, что разработка это интересно и полезно.<br/>
					<br/>
					"Лямбда"- самый веселый клуб трудоголиков. Присоединяйся.
				</p>
				<p>По всем вопросам обращайтесь на почту: <strong>euphetar@gmail.com</strong>.</p>
			</div>
		</div>
		
		
		<!--
		<div class="panel col-md-3 col-xs-12 pull-right" >
			<div class="well text-decoration"  style="min-height:180px;">
				<h1>;)</h1>
			</div>
		</div>

		-->


		</div>
	</div>
</div>

{% endblock %}