{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
MAI IT О клубе
{% endblock %}
{% load static %}
{% block content %}
<canvas></canvas>
<script src="{% static 'js/animation.js' %}"></script>
<div class="panel page-panel">

	<div class="panel-body">
		<div class="panel-heading headline-container">
			<h2 class="headline">О клубе</h2>
		</div>
		<div class="page-content">
		<div class="panel col-md-3 pull-left">
			<div class=" well text-content about-text-content">
				<h4>Кто мы?</h4>
				<p>
					Мы студенческий клуб Московского Авиационного Института для тех, кто заинтересован в информационных технологиях.
				</p>
			</div>
		</div>
		<div class="panel col-md-6 pull-left">
			<div class="well text-content about-text-content">
				<h4>Что мы делаем?</h4>
				<p>
					Мы проводим еженедельные встречи, вместе решаем алгоритмические задачи, читаем лекции, проводим лекции приглашенных специалистов или просто развлекаемся.
					<br/>
					Клуб предоставляет желающим возможность получить опыт предподавательской и организационной деятельности. Работы много, она бесплатная и очень интересная.
				</p>
			</div>
		</div>
		<div class="panel col-md-3 col-xs-12 pull-right">
			<div style="margin:0;" class="well text-content about-text-content">
				<h4>Как нас найти?</h4>
				<p>
					Встречи клуба проводятся
					<div style="border:3px solid #0093DA;"class='well well-sm'>

						<strong>МАИ, 5 корпус, аудитории 500какая-то</strong>.
						<br/>

							Вторник, Четверг

						 <br/> 17:00 - 19:00

					</div>
				</p>
			</div>
		</div>

		<div class="panel col-md-9 pull-left">
			<div style="min-height:180px;" class="well text-content about-text-content">
				<h4>Кто может участвовать?</h4>
				<p>
					Кто угодно. Клуб бесплатный, добровольный и ориентироанный на студентов.<br/> Начинающие свой путь в IT найдут у нас возможность быстро учиться, а опытные разработчики - единомышленников и проекты.
					<br/>
					Если вы не студент МАИ, но хотите поучаствовать, напишите организаторам.
				</p>
			</div>
		</div>
		

		<div class="panel col-md-3 col-xs-12 pull-right" >
			<div class="well text-decoration"  style="min-height:180px;">
				<h1>;)</h1>
			</div>
		</div>


		</div>
	</div>
</div>

{% endblock %}