<!DOCTYPE html>
<html lang="ru">
<head>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	{% load static %}
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
	
    <title>{% block title %}{% endblock %}</title>
</head>
<body>	
	<div class='wrapper'>
		<header>
			<div  class="container">
				{% include 'navbar.html' %}
			</div>
		</header>
		<div class="content">
			<div  class="container">
			<div id="messages">
				{% include 'bootstrap3/messages.html' %}
			</div>
		    <div>
			    {% block content %}{% endblock %}
			</div>
			</div>
		</div>
		<div class="push"></div>
	</div>
</body>
</html>

