<!DOCTYPE html>
<html lang="ru">
<head>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	{% load static %}
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
	<script src="{% static 'js/animation.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<canvas style="opactiy:0.3;"></canvas>
		<header>
			<div  class="container">
				{% include 'navbar.html' %}
			</div>
		</header>
		<div class="content">
			<div  class="container">
			<div id="messages">
				{% include 'bootstrap3/messages.html' %}
			</div>
		    <div>
			    {% block content %}{% endblock %}
			</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
			    {% block footer %}
			    <hr>
			    <p>All rights alright.</p>
			    {% endblock %}
	    	</div>
	    </footer>
</body>
</html>

