{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
Лямбда событие {{event.title}}
{% endblock %}

{% block description %}
{{event.title}} {{event.description}}
{% endblock %}
{% block content %}



<article>
<div class="row text-left">
      <h4 class='col-md-12'>
         {% bootstrap_icon "time" %} {{ event.date }}
      </h4>
   </div>
<div class="event-card panel">
   
   <div class="panel-heading">
      <div class="panel-title">
               <div>
                  <div class="row text-left">
                     <div>
                        <h3 class="col-md-12"><a href="{% url 'event' slug=event.slug %}" >{{ event.title }}</a></h3>
                     </div>
                  </div>
                  
               </div>

         </div>
      </div>

   <div class="panel-body">
      
      {% if event.image %}
      <div class="col-md-5 col-xs-12 pull-right">
      
            <img class="img-responsive img-thumbnail" src="{{ event.image.url }}" alt="event-{{event.slug}}-image" style="display:inline;">
      
      </div>
      {% endif %}
      
      <div class="col-md-6 col-xs-12 text-content">
      <p>{{event.description|linebreaks}}</p>
      </div>
      

   </div>
</div>
</article>
{% endblock %}