{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
MAI IT INDEX
{% endblock %}
{% block content %}
<div class="container">
<h2 class="text-center">Афиша мероприятий</h2>
{% if event_list %}
	<div>
	   {% include "paginator.html" with lst=event_list total_pages=total_pages page_range=page_range  %}

	   {% include "event_list.html" %}	

	   {% include "paginator.html" with lst=event_list total_pages=total_pages page_range=page_range  %}	
	</div>
{% endif %}
</div>
{% endblock %}