{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
MAI IT Афиша
{% endblock %}
{% block description %}
Афиша IT клуба МАИ, {% if event_list %}ближайшее событие: {{ event_list.0.date }} {%endif%}
{% endblock %}

{% block content %}
<div class="panel page-panel">
	<div class="panel-body">
		<div class="panel-heading headline-container">
			<h2 class="headline">Афиша мероприятий</h2>
		</div>
	<div class="page-content">
	{% if event_list %}
		<div>
		   {% include "paginator.html" with lst=event_list total_pages=total_pages page_range=page_range  %}
		</div>
		<div>
		   {% include "event_list.html" %}	
		</div>
		<div>
		   {% include "paginator.html" with lst=event_list total_pages=total_pages page_range=page_range  %}	
		</div>
	{% else %}
		<h3>Нет событий</h3>
	{% endif %}
	</div>
</div>
{% endblock %}