{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
Лямбда: участники
{% endblock %}
{% block description %}
Участники "Лямбда" {% if member_list %} {{ member_list|length }} человек{%endif%} 
{% endblock %}
{% block content %}
<div class="panel page-panel">
	<div class="panel-body">
		{% if organizers_list %}
			<div class="panel-heading headline-container">
				<h2 class="headline">Организаторы</h2>
			</div>
		

		<div class="container">
			<div>
			   {% include "member_list.html" with member_list=organizers_list %}	
			</div>
		</div>
		{% endif %}

		{% if member_list %}
			<div class="panel-heading headline-container">
				<h2 class="headline">Участники</h2>
			</div>
			<div class="container">
			    <div>
			   {% include "paginator.html" with lst=member_list total_pages=total_pages page_range=page_range  %}
			   </div>
			   <div>
			   {% include "member_list.html" %}	
			   </div>
			   <div>
			   {% include "paginator.html" with lst=member_list total_pages=total_pages page_range=page_range  %}	
			   </div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}