{% extends "base.html" %}
{% load bootstrap3 %}

{% load bootstrap3 %}
{% block title %}
MAI IT Член клуба {{member.name}}
{% endblock %}
{% block content %}

<div class="panel page-panel">

   <div class="panel-body">
   <div class="col-md-12 page-content">

<div class="panel member-card">
   <div class="panel-heading">
      <div class=" panel-title">
               <div>
                  <div class="row text-left">
                     <div>
                        
                     </div>
                  </div>
               </div>
         </div>
      </div>

   <div class="panel-body">
      {% if member.image %}
         <div class="text-center">
            <img class="img-responsive img-thumbnail" src="{{ member.image.url }}" alt="member-name-image" style="display:inline;">
         </div>
      {% endif %}

      <div class="text-content">
         <h3>{{ member.name }}</h3>
      

         {% if member.description %}
         <div>
         <p>{{member.description}}</p>
         </div>
      </div>
      {% endif %}
   </div>
</div>
</div>
</div>
</div>
{% endblock %}