{% load bootstrap3 %}
{% if member_list %}
   {% for member in member_list %}
	    {% with forloop.counter0|divisibleby:3 as newrow %}
	    	

			{% if newrow or forloop.counter0 == 0 %}
				{% if forloop.counter0 != 0 %}
					</div>
				{% endif %}
				<div class='grid-row row'>
			{% endif %}
			<div class='grid-cell col-xs-11 col-md-4 pull-left'>{% include "member_card.html" %}</div>
			{% if forloop.last %}
			</div>
			{% endif %}
		{% endwith %}
   {% endfor %}
{% endif %}