{% load bootstrap3 %}
{% if partner_list %}
<div>
   {% for partner in partner_list %}
	    {% with forloop.counter|divisibleby:4 as newrow %}
		    {% if newrow %}
		     	</div>
		    {% endif %}
			{% if newrow or forloop.counter0 == 0 %}
				<div style="display:block!important;" class='grid-row row'>
			{% endif %}
			<div class='grid-cell grid-cell-partners col-xs-12 col-md-4'>
				{% include "partner_card.html" %}	
			</div>
		{% endwith %}
   {% endfor %}
</div>
{% endif %}