{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
MAI IT PARTNERS
{% endblock %}
{% block content %}
<div class="container">
<h2 class="text-center">Наши партнеры</h2>
{% if partner_list %}
	<div>
	   {% include "paginator.html" with lst=partner_list total_pages=total_pages page_range=page_range  %}

	   {% include "partner_list.html" %}	

	   {% include "paginator.html" with lst=partner_list total_pages=total_pages page_range=page_range  %}	
	</div>
{% endif %}
</div>
{% endblock %}