{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
MAI IT Партнер {{ partner.name }}
{% endblock %}

{% block description %}
{{partner.name}} {{partner.description}}
{% endblock %}


{% block content %}
<div class="panel page-panel">

   <div class="panel-body">
   <div class="col-md-12 page-content">

<div class="panel panel-default member-card">
   <div class="panel-body">
      {% if partner.image %}
         <div class="text-center">
            <img class="img-responsive img-thumbnail" src="{{ partner.image.url }}" alt="partner-name-image" style="display:inline;">
         </div>
      {% endif %}

      <div class="text-content">
         <h3>{{ partner.name }}</h3>
      

         {% if partner.description %}
         <div>
         <p>{{partner.description}}</p>
         </div>
      </div>
      {% endif %}
   </div>
</div>
</div>
</div>
</div>
{% endblock %}